.bg{
	-fx-background-image: url("img/neutral.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.bad{
	-fx-background-image: url("img/bad.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.good{
	-fx-background-image: url("img/good.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 500 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.mainFrame{
	-fx-background-color: rgba(255,255,255, 0.5); 
	-fx-background-radius: 10;
}

.element{
	-fx-background-color: rgba(255,255,255, 0.6); 
}

.element:hover{
	-fx-background-color: rgba(205,255,255, 0.7); 
	-fx-border-color-bottom:red;
}

.element .scroll-pane {
    -fx-background-color: transparent;
}

.element .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.element .scroll-pane .content{
    -fx-background-color: transparent;
}